header(class = "header")
      div(class = "container")
            div(class = "header__wrapper")
                  div(class = "header__logo")
                        img(src = require('./images/logo.svg'))
                  nav(class = "header__menu")
                        a(class = "header__item header__item_opactity" href = "#") Use cases
                        a(class = "header__item header__item_opactity" href = "#") Financial tools
                        a(class = "header__item header__item_opactity" href = "#") Total compensation tools
                        a(class = "header__item header__item_opactity" href = "#") Advisors
                        a(class = "header__item header__item_opactity" href = "#") Blog
                  div(class = "header__connect")
                        div(class = "header__registr")
                              a(class = "header__connect-item header__item_opactity" href = "#") Sign In
                        div(class = "header__login")
                              a(class = "header__connect-item header__item_opactity" href = "#") Sign Up
