//------------Animation-----------------

$time:0.5s;

//------------colors-----------------
$colorHeading: #004A43;
$colorText: #345E5A;
$colorBtn: #FFAD3D;
$colorLink: #7D77FC;
$colorLinkSecond: #58D1BD;
$bgColor: #F1F6F6;

//------------fonts-size-----------------
$fn-16: 1rem;    
$fn-18: 1.125rem;
$fn-21: 1.3125rem;  
$fn-24: 1.5rem;  
$fn-32: 2rem;    
$fn-48: 2.5rem;      

$fn-16px: 16px;    
$fn-18px: 18px;
$fn-21px: 21px;  
$fn-24px: 24px;  
$fn-32px: 32px;    
$fn-48px: 48px; 





