.list-procent {
max-width: 400px;
border-radius: 1.125rem; // 18px
padding: 1.375rem; // 22px

      &__heading {
            
      }
      &__procent-wrapper { 
           
      }
      &__procent {
            font-family: "RobotoBold";
            font-size: $fn-24;
            color: $colorHeading;
      }
      &__container {
            display: inline-block;
            width: 28px;
            height: 28px;
            position: relative;
      }
      &__bg-circle {
            background-color: $colorHeading;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            
      }
      &__circle {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            
            
      }
      &__text {

      }
}