mixin listProcent()
      div(class = "list-procent")
            h4(class = "list-procnet__heading") Employees want to get more value from their benefits.
            div(class = "list-procent__wrapper")
                  span(class = "list-procent__procent") 55%
                  div(class = "list-procent__circle")
            p(class = "list-procent__text") of employees want to be more informed about benefits.