.support {
    padding: 4.5rem 0; //72px
    background-color: $bgColor;

    &__wrapper {
        max-width: 825px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        justify-items: center;
        grid-gap: 25px;
       
    }
    &__heading {
        text-align: center;
        margin-bottom: 2.25em; //72px
    }
    &__text {
        padding-top: 2.1875em; //35px
        font-size: $fn-16;
        text-align: center;
        color: #5C9992;
    }
}