.support {
    padding-top: 4.5rem; //72px
    background-color: $bgColor;

    &__wrapper {
        max-width: 825px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        justify-items: center;
        grid-gap: 25px;
       
    }
    &__heading {
        text-align: center;
        margin-bottom: 2.25em; //72px
    }
}