footer(class = "footer")
    div(class = "container")
        div(class = "footer__main")
            h2(class = "footer__heading") See how Northstar can help scale your team
            input(class = "footer__btn" type="button" value = "Schedule a meeting")
        div(class = "footer__down")
            div(class = "footer__list-all")
    
                ul(class = "footer__list")
                    li(class = "footer__item-heading") Company
                    li(class = "footer__item") About
                    li(class = "footer__item") Blog
                    li(class = "footer__item") Careers
                    li(class = "footer__item") For brokers
    
                ul(class = "footer__list")
                    li(class = "footer__item-heading") Product
                    li(class = "footer__item") For companies
                    li(class = "footer__item") For individuals
                    li(class = "footer__item") Advisors
                    li(class = "footer__item") Financial tools
                    li(class = "footer__item") Total compensation tools
    
                ul(class = "footer__list")
                    li(class = "footer__item-heading") Use Cases
                    li(class = "footer__item") Support diverse teams
                    li(class = "footer__item") Attract and retain talent
                    li(class = "footer__item") Support benefits decisions
                    li(class = "footer__item") Increase productivity
                    li(class = "footer__item") Prepare for an IPO
                    li(class = "footer__item") Answer employee questions
    
                ul(class = "footer__list")
                    li(class = "footer__item-heading") Support
                    li(class = "footer__item") Book a meeting
                    li(class = "footer__item") Contact us
                    li(class = "footer__item") Sign up
                    li(class = "footer__item") Log in
    
            div(class = "footer__left")
                div(class = "footer__logo")
                    +svg-logo()
                div(class = "footer__text")
                    p © Watt, Inc. 2016-2021. All rights reserved.
                    p Terms of Service | Privacy Policy
                div(class = "footer__links")
                    include ../svg/svg.pug
                    +svg-in()
                    +svg-twitter()
                    +svg-facebook()
                div(class = "footer__image")
                    img(src = require("./components/footer/cat.svg"))
                    
                