mixin svg-robot()
    include images/robot.svg

mixin svg-money()
    include images/money.svg

mixin svg-open()
    include images/open.svg

mixin svg-team()
    include images/team.svg

mixin svg-offer()
    include images/offer.svg

mixin svg-offboard()
    include images/offboard.svg