mixin svg-robot()
    include images/robot.svg

mixin svg-money()
    include images/money.svg

mixin svg-open()
    include images/open.svg

mixin svg-team()
    include images/team.svg

mixin svg-offer()
    include images/offer.svg

mixin svg-offboard()
    include images/offboard.svg

mixin svg-zoom()
    include images/zooms/zoom.svg

mixin svg-1()
    include images/stages/1.svg

mixin svg-2()
    include images/stages/2.svg

mixin svg-3()
    include images/stages/3.svg

mixin svg-4()
    include images/stages/4.svg

mixin svg-5()
    include images/stages/5.svg

mixin svg-6()
    include images/stages/6.svg

mixin svg-7()
    include images/stages/7.svg

mixin svg-8()
    include images/stages/8.svg

mixin svg-9()
    include images/stages/9.svg

