section(class = "first-screen")
            div(class = "container")
                  div(class = "first-screen__wrapper")
                        div(class = "first-screen__title")
                              h1(class = "first-screen__heading") Financial wellness starts at work
                              p(class = "first-screen__text") Northstar helps employees better utilize their total compensation and make financial decisions.
                              a(class = "first-screen__button" href = "#") Learn more
                              p(class = "first-screen__text-bottom") Interested in a personal membership?
                                    a(href = "#") Click here

                        div(class = "first-screen__image")
                              div(class = "first-screen__image-general")
                                    img(src = require("./images/main-page.png") alt = "two people")

                              div(class = "first-screen__image-first first-screen__image-item")
                                    img(src = require("./images/Frame.svg") alt="")

                              div(class = "first-screen__image-second first-screen__image-item")
                                    img(src = require("./images/Frame-1.svg") alt="")

                              div(class = "first-screen__image-third first-screen__image-item")
                                    img(src = require("./images/Frame-2.svg") alt="")

                              div(class = "first-screen__image-fourth first-screen__image-item")
                                    img(src = require("./images/Frame-3.svg") alt="")
                  div(class = "first-screen__bottom")
                        p(class = "first-screen__bottom-text") Northstar supports employees around the world
                        div(class = "first-screen__bottom-image")
                              img(src = require("./images/zoom.svg") alt="")
                              img(src = require("./images/invite.svg") alt="")
                              img(src = require("./images/service.svg") alt="")
                              img(src = require("./images/thum.svg") alt="")