mixin list-image(path)
    div(class = "list-image")
        div(class = "list-image__picture")
            img(src = path alt = "human")
        div(class = "list-image__footer")
            h4(class = "list-image__heading") Help reach your company goals
            p(class = "list-image__text") Northstar's actionable total compensation advice helps drive benefits adoption, support DEI, attract talent, and more.
            a(class = "list-image__link") Learn more