section(class = "finances")
      div(class = "container")
            h2(class = "finances__heading") Northstar takes a holistic approach to financial wellness
            div(class = "finances__wrapper")
                  include ../../components/list-repeat/list-repeat.pug
                  +listRepeat("Employees can use self-service tools to track progress and take action on their personal financial goals", "Financial tools", "1", 1, "#059482")
                  +listRepeat("Northstar surfaces how relevant benefits can be utilized to support employees’ financial or life goals", "Total compensation tools", "2", 1, "#FFAD3D")
                  +listRepeat("Each employee is matched with a full-time Northstar Advisor based on their goals and demographics.", "Full-time financial advisors", "3", 1, "#FA70B6")
            div(class = "finances__footer")
                  div(class = "finances__title")
                        h2(class = "finances__heading finances__heading-footer") Make the connection between total compensation and personal finances
                        p(class = "finances__text") Compensation packages are complex and can directly impact employees’ finances. Northstar’s financial wellness program helps employees make the most of their employer benefits—from ESPPs to HSAs—to support their financial and life goals.
                  div(class = "finances__image")
                        h2 Salary & bonus
                        h2 Equtiy
                        h2 Health benefits
                        h2 Retreiment
                        h2 Perks
                        div(class = "finances__image-item")
                              img(src = require("./blocks/finances/images/1.svg"))
                        h2 Personal finances