section(class = "zooms")
    div(class = "zooms__container")
        div(class = "zooms__main")
            p(class = "zooms__main-text") "Northstar financial wellness is a perfect fit with Zoom's employee focus. Our employees are taking up assistance from Northstar's CFPs® at a rapid pace. Northstar is a piece of the wellness puzzle that was missing and we are so happy to provide to our employees."
        div(class = "zooms__footer")
            div(class = "zooms__human")
                img(src = require('./blocks/zooms/images/Rectangle.png') alt = human)
                p(class = "zooms__footer-text") Sheila Krueger, Head of Global Benefits, Zoom
                include ../../components/svg/svg.pug
                +svg-zoom()
            